/* set global css rules */
:root{
    --text-color:#1a1c20;
    --link-color :#4a76ee;
    --background-color:#eeeff1;
}

*{
   margin: 0;
   padding:0;
   box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;


}
body {
    font-family:'montserrat',sans-serif;
    background-color:var(--background-color);

}

a{
    color:var(--link-color);
    text-decoration:none ;
}
a:hover{
    color: var(--link-color);
}
h2,h3{
    text-align: center;
}
/* navbar styling */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height:50px;
    align-items: center;
}
nav .left a{
    color: var(--text-color);
    font-size: 20px;
    font-weight:600;
}

nav .right a{
    color: var(--text-color);
    margin:0 10px;
}
nav .right a:hover{
    color: var(--link-color);
    cursor: pointer;
    font-size:20px;
    font-weight: bold;
}

.hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap:40px;
    


}
.hero .text{
    flex:5;

}
.hero .text h2{
    font-size: 42px;

}
.hero .text .buttons{
    margin-top: 25px;
}
.hero .text .buttons a{
    display: inline-block;
    padding: 5px 10px;
    border:2px solid var(--link-color);
    border-radius:5px ;
    margin:10px;
    margin-bottom: 10px;
    transition:0.1s;

}
.hero .text .buttons a:hover{
    background-color: var(--text-color);
    color:var(--background-color);
    border: none;
    

}
.hero .headshot{
    flex: 2;
    display: flex;
    justify-content: right;


}

.hero .headshot img{
    border-radius: 50%;
    width:350px;
    

}
.education {
    margin:50px 0;
    padding: 0 50px;

    
    
}
.cards{
    display:flex;
    align-items: center;
    gap:20px;
    
}
.education-card{
border:1px solid var(--text-color);
margin:50px 0;
padding:20px 0;
height:300px;
text-align: center;
}
.education-card p{
    text-align: center;
    margin:20px
}
.skills{
    
    padding: 0 50px;
    height: 300px;
}
.skills .skills-card{
    display:flex;
    
    
}
.cards img{
    display: flex;
}




/* Adding responsiveness breakpoints */
@media (max-width:800px){
    /* navbar */

    /* Hero section */
    .hero{
        flex-direction:column-reverse ;
        padding:0 20px;
    }
 .hero .text h2{
    font-size: 25px;
    }
    .hero .headshot img{
    width:250px;
}
 
}