/* set global css rules */
:root{
    --text-color:#1a1c20;
    --link-color :#4a76ee;
    --background-color:#eeeff1;
}

*{
   margin: 0;
   padding:0;
   box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;

}
body {
    font-family:'montserrat',sans-serif;
    background-color:var(--background-color);

}

a{
    color:var(--link-color);
    text-decoration:none ;
}
a:hover{
    color: var(--link-color);
}
/* navbar styling */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height:50px;
    align-items: center;
}
nav .left a{
    color: var(--text-color);
    font-size: 20px;
    font-weight:600;
}

nav .right a{
    color: var(--text-color);
    margin:0 10px;
}
.hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    gap:40px;


}
.hero .text{
    flex:5;

}
.hero .text h1{
    font-size: 40px;

}
.hero .text .buttons{
    margin-top: 25px;
}
.buttons a{
    display: inline-block;
    padding: 5px 10px;
    border:2px solid var(--link-color);
    border-radius:5px ;
    margin:10px;
    margin-bottom: 10px;

}

.hero .headshot{
    flex: 2;

}

.hero img{
    height:300px;
    width:300px;

}

/* Adding responsiveness breakpoints */
@media (max-width:700px){
    /* navbar */
}