/* set global css rules */
:root{
    --text-color:#1a1c20;
    --link-color :#4a76ee;
    --background-color:#eeeff1;
}

*{
   margin: 0;
   padding:0;
   box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;


}
body {
    font-family:'montserrat',sans-serif;
    background-color:var(--background-color);

}

a{
    color:var(--link-color);
    text-decoration:none ;
}
a:hover{
    color: var(--link-color);
}
h2,h3{
    text-align: center;
}
h4{
    text-transform: capitalize;
    margin:20px;
}
/* navbar styling */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height:50px;
    align-items: center;
}
nav .left a{
    color: var(--text-color);
    font-size: 20px;
    font-weight:600;
}

nav .right a{
    color: var(--text-color);
    margin:0 10px;
}
nav .right a:hover{
    color: var(--link-color);
    cursor: pointer;
    font-size:20px;
    font-weight: bold;
}

.hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap:40px;
    


}
.hero .text{
    flex:5;

}
.hero .text h2{
    font-size: 42px;

}
.hero .text .buttons{
    margin-top: 25px;
}
.hero .text .buttons a{
    display: inline-block;
    padding: 5px 10px;
    border:2px solid var(--link-color);
    border-radius:5px ;
    margin:10px;
    margin-bottom: 10px;
    transition:0.1s;

}
.hero .text .buttons a:hover{
    background-color: var(--text-color);
    color:var(--background-color);
    border: none;
    

}
.hero .headshot{
    flex: 2;
    display: flex;
    justify-content: right;


}

.hero .headshot img{
    border-radius: 50%;
    width:350px;
    

}
.education {
    margin:50px 0;
    padding: 0 50px;

    
    
}
.cards{
    display:flex;
    align-items: center;
    gap:20px;
    
}
.education-card{
border:1px solid var(--text-color);
margin:50px 0;
padding:20px 0;
text-align: center;
}
.education-card p{
    text-align: center;
    margin:20px
}
.skills-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap: wrap;
}
.skills{
    margin: 40px 0;
    padding: 30px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
}
.skills img{
    display:flex;
    gap:2px;
    width:50px;
}
.skills span{
   font-size: 15px; 
   
}

.projects{
    margin: 0 50px;
    
    

}
.container{
    display:flex;
    gap:20px;

}
.project-card{
    margin:20px;
    padding: 20px;
    border:0.5px solid black;
    text-align: center; 
}
.project-card p{
    margin:20px;
}
.project-card a{
    margin:20px;
    padding:10px;
    border-radius: 2px;
    background-color: var(--link-color);
    color: var(--background-color);
}
.project-card a:hover{
    background-color: var(--text-color);
}

/*contact us section */
.contact {
    display:flex;
    justify-content: center;
    gap:5px;
    margin: 0 50px;

}

.socialmedia{
    display:flex;
    justify-content: center;
    gap:20px;
    align-items: center;
}
.socialmedia a{

   background-color:var(--link-color);
   padding:15px;
   color:var(--background-color);
  text-align:center;
  border-radius:50%;
}
.socialmedia a i{
    font-size: 20px;
}
 .socialmedia a i:hover{
    color:var(--text-color);
 }
.container-form {
      
      margin: 50px auto;
      background: #fff;
      padding: 30px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      border-radius: 8px;
    }

form{
    display: flex;
    flex-direction: column;
 }
 label {
      margin-bottom: 5px;
      font-weight: bold;
    }

    input, textarea {
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 15px;
      resize: vertical;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 12px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    button:hover {
      background-color: #0056b3;
    }

    /*footer*/
    .footer{
        text-align: center;
        background-color: var(--link-color);
        color:var(--background-color);
        padding: 20px;
        
    }

/* Adding responsiveness breakpoints */
@media (max-width:800px){
    /* navbar */

    /* Hero section */
    .hero{
        flex-direction:column-reverse ;
        padding:0 20px;
    }
 .hero .text h2{
    font-size: 25px;
    }
    .hero .headshot img{
    width:250px;
}
 
}